@font-face {
    font-family: monotypeCorsiva;
    src: url(monotype-corsiva.ttf);
}
@font-face {
    font-family: monotypeCorsivaBis;
    src: url(../../monotype-corsiva.ttf);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: monotypeCorsiva, monotypeCorsivaBis;
}

h1 {
    text-align: center;
    color: #333;
    margin: 0.2em 0 0 0;
}

#logo{
    margin-top: 2em;
}

#back-button {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.1em;
    background-color: #ccc;
    border-radius: 0.5em;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    user-select: none;
    color: #111;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.recipe-image {
    width: 99%;
    max-width: 750px;
    margin: 1em 10px;
    box-shadow: #666 0 0 10px;
}

#recipe-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0em;
    user-select: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label {
    background-color: #ccc;
}
input[type="checkbox"]:not(:checked)+label {
    background-color: #d8d8d8;
}

label {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.1em;
    border-radius: 0.5em;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 15.5em;
}

.basics {
    color: #002060;
}
.starters {
    color: #e36c0a;
}
.main-courses {
    color: #00b050;
    color: #c00000;
}
.desserts {
    color: #0070c0;
}
.ice-creams {
    color: #5f497a;
}
.breads {
    color: #8A4500;
}

nav {
    font-family: Arial, sans-serif;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin-top: 0.2em;
    margin-right: 0.4em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 0;
    margin: 0.1em;
}
nav a img {
    height: 1.6em;
}
nav button{
    margin-top: -0.2em;
    margin-left: 0.5em;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.dark-mode{
    background-color: black;
    color: whitesmoke;
}
.dark-mode a{
    color: rgba(255,255,255,.6)
}
.dark-mode a:hover{
    color: rgba(255,255,255,.8)
}
.dark-mode #logo{
    filter: invert(0.8);
}
.dark-mode h1{
    color: #ccc;
}
.dark-mode input[type="checkbox"]:checked + label{
    background-color: #aaa;
}
.dark-mode input[type="checkbox"]:not(:checked) + label {
    background-color: #ccc;
}
.dark-mode #searchBox{
    color: whitesmoke;
    background-color: black;
}

.dark-mode .recipe-image,
.dark-mode .basics, 
.dark-mode .starters,
.dark-mode .main-courses,
.dark-mode .desserts,
.dark-mode .ice-creams,
.dark-mode .breads{
    filter: invert(1) hue-rotate(180deg) brightness(0.65);
}
